# ──────────────────────────────────────────────
# Plantive Backend — Local Development Config (.env.example)
# ──────────────────────────────────────────────

# PostgreSQL (local)
DATABASE_URL=postgresql+asyncpg://<USERNAME>:<PASSWORD>@localhost:<PORT>/<your_database_name>
# replace: <USERNAME>, <PASSWORD>, <PORT>, <your_database_name> according to your data

# JWT
JWT_SECRET = <YOUR_SUPER_SECRATE_KEY>
JWT_ALGORITHM = <FAMOUS_ALGORITHM>
REFRESH_TOKEN_EXPIRE_DAYS = <NUMBER OF DAY>
ACCESS_TOKEN_EXPIRE_MINUTES = <NUMBER OF MINUTES>

# App
APP_ENV=<development/production>
DEBUG=<true/false>

# API Versioning
API_VERSION = <VERSION>


